@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');


body {
    margin: 0px;
    padding: 0px;
    /* font-family: Garamond, serif; */
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 24px;
    font-size: large;
    background-color: 	#97AFB9
}

nav {
    padding: 16px;
    border-bottom: 2px solid #5C435E;
    background-color: 	#97AFB9;
    box-shadow: 0 4px 4px 0 #5C435E;
    position: relative;
}

a {
    text-decoration: none;
    color: #344A53;
    transition: all 1s;
}

h1 {
    color: #5C435E;
}

.recipes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* justify-content: center; */
}

.hover:hover {
    font-size: larger;
}

.img-shadow {
    box-shadow: 0px -2px 5px 2px #5C435E;
}